.product {
    height: 350px;
    margin: 0 auto 20px;

    transform-origin: center center;

    .mdl-card__title {
        color: #fff;
        background-position: bottom right;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.animate-enter {
    animation: product-in .3s ease;
}

.animate-leave {
    animation: product-out .3s ease;
}

@keyframes product-in {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes product-out {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
